<%- include('header.ejs') %>
<link rel="stylesheet" href="/css/app-edit.css">  

<body>
  <h1>Edit Job</h1>
  <form action="/jobs/<%=job.id%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%=job.name%>">
    <br>
    Description: <input type="text" name="description" value="<%=job.description%>">
    <br>
    Location: <input type="text" name="location" value="<%=job.location%>">
    <br>
    Link: <input type="text" name="link" value="<%=job.link%>">
    <br>
    Payrange: <input type="text" name="payrange" value="<%=job.payrange%>">
    <br>
    isRemote: <input type="checkbox" name="isRemote"
    <%= job.isRemote ? 'checked' : 'unchecked' %>
    /><br>
    <input type="submit" name="" value="Submit Changes">
</form>
  <button class="back">
    <a class="backA" href="/jobs">Back</a>
</button>
</body>
</html> 