<%- include('header.ejs') %>
<link rel="stylesheet" href="/css/app-index.css">  

    <body>
        <h1>Jobs</h1>
        <ul> 
            <% for(let i = 0; i < jobs.length; i++){ %>
            <li>
                <a href="/jobs/<%=jobs[i].id%>">
                    <%=jobs[i].name%>
                </a>
                <div class="info">
                    <p> <% if(jobs.isRemote) { %>
                        Remote
                    <% } else { %>
                        On-site
                    <% } %>
                    </p>
                <p><%=jobs[i].location%></p>
                </div>
                <p class="pRange"> Payrange: $<%=jobs[i].payrange%></p>
            </li>
        <% } %>
        </ul>
        <nav>
            <a class="new" href="/jobs/new">Create a New Job</a>
        </nav>
    </body>
</html> 