<%- include('header.ejs') %>
<link rel="stylesheet" href="/css/app-show.css">  

    <body>
        <h1><%=job.name%></h1>
        <div class="info">
          <p> <% if(job.isRemote) { %>
              Remote
          <% } else { %>
              On-site
          <% } %>
          </p>
      <p><%=job.location%></p>
      </div>
        <a id="jLink" href="<%=job.link%>">Link to apply!</a>
        <p class="showDescription"> <%=job.description%></p>
        <p> Payrange: $<%=job.payrange%></p>
        <div class="showButtons">
          <button class="button">
            <a href="/jobs/<%= job._id %>/edit">Edit this job</a>
          </button>
          <form action="/jobs/<%= job._id%>?_method=DELETE" method="POST">
            <input class="button" type="submit" value="Delete">
          </form>
          <button class="button">
            <a href="/jobs">Back to Jobs </a>
          </button>
        </div>
    </body>
</html>